.homepage-container {
    text-align: center;
    padding: 50px;
}

.homepage-container h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 0.5em;
}

.homepage-container p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1.5em;
}

.get-started-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #45a049;
}
